<!-- inherit from base.html-->
{% extends "wonders_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<br>
<h1>Board Listing</h1>
<br>
    <ul class="list-group">
        {% for i in board_list %}
            <li class="list-group-item"> <strong>Board Name:</strong> <br>
                {{i.name}}

                <a href="#"> 
                    <button type="button">View</button>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}