<!-- inherit from base.html-->
{% extends "wonders_app/base_template.html" %}
{% block content %}


<br>
<h2 style="text-align:center;"> Board Details</h2>
<br>

<p><strong>Board Name: </strong> {{board_obj.name}} </p>
<p><strong>Wonder Location: </strong> {{board_obj.board_type}}</p>
<p><strong>Win or Loss: </strong> {{board_obj.win_or_loss}}</p>
<p><strong>Total Score: </strong> {{board_obj.score}}</p>
<br>



<a href="{% url 'updateBoard' my_id=board_obj.pk %}" > 
    <button class="button">Edit Board</button>
</a>
<br>
<a href="#" > 
    <button class="button">Delete Board</button>
</a>



{% endblock %}